{{!-- 首页文章循环 --}}
<div class="index-article-box container">
    <div class="article-left-box">

        {{!-- 推荐文章 --}}
        {{!-- <article style="display: flex">
            {{#foreach posts}}
                {{#if featured limit="3"}}
                    {{> "post-card"}}
                {{/if}}
            {{/foreach}}
        </article> --}}

        {{!-- 所有文章，包括推荐 --}}
        {{#foreach posts}}
            {{#if @first}}
                <article class="post-card index-top-post">
                    {{#if feature_image}}
                        <a class="post-card-image-link" href="{{url}}">
                            <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                        </a>
                    {{else}}
                        <a class="post-card-image-link" href="{{url}}">
                            <div class="post-card-image" style="background-image: url({{asset "images/banner1.jpg"}})"></div>
                        </a>
                    {{/if}}
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="{{url}}">
                            <header class="post-card-header">
                                {{#if primary_tag}}
                                    <span class="post-card-tags">{{primary_tag.name}}</span>
                                {{/if}}
                                <h2 class="post-card-title">{{title}}</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>{{excerpt words="33"}}</p>
                            </section>
                        </a>
                        <footer class="post-card-meta">

                            <ul class="author-list">
                            {{#foreach authors}}
                                <li class="author-list-item">

                                    <div class="author-name-tooltip">
                                        {{name}}
                                    </div>

                                    {{#if profile_image}}
                                        <a href="{{url}}" class="static-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
                                    {{else}}
                                        <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                                    {{/if}}
                                </li>
                            {{/foreach}}
                            </ul>

                            {{!-- <span class="reading-time">{{reading_time}}</span> --}}
                            <span class="reading-time">{{date published_at timeago="true"}}</span>

                        </footer>
                    </div>
                </article>

            {{else}}
                <div class="articale-item-box color-black">
                    <div class="articale-item-bcontent">
                        <div class="aib-content">
                            {{!-- 文章图片 --}}
                            <div class="artical-img-box middle-center"
                                {{#if feature_image}}" 
                                    style="background-image: url({{feature_image}})"
                                {{else}}
                                    style="background-image: url({{asset "images/default.png"}})"
                                {{/if}}
                            >
                            </div>
                            <div class="article-txt-box">
                                {{!-- 文章标题 --}}
                                <a  href="{{url}}" class="title">
                                    {{title}}
                                </a>
                                <div class="aticle-txt color-gray">
                                    {{!-- 文章内容 --}}
                                    <div class="txt">
                                        {{excerpt}}
                                    </div>
                                    <div class="aib-user color-gray">
                                        {{!-- 作者 --}}
                                        {{#author}}
                                            <i class="icon-pen"></i>
                                            &nbsp;<a href="{{url}}" class="user-name color-gray">{{name}}</a>
                                        {{/author}}
                                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                        {{!-- 时间 --}}
                                        <span><i class="icon-time"></i>&nbsp;{{date published_at timeago="true"}}</span>
                                        {{!-- 文章标签 --}}
                                        <span class="aib-tages">
                                            {{#if tags}}
                                                {{#foreach tags}}
                                                <span>&nbsp;&nbsp;·&nbsp;&nbsp;</span>
                                                <a href="{{url}}" target="_blank" class="aib-tag-item color-blue">{{name}}</a>
                                                {{/foreach}}
                                            {{/if}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/foreach}}
        {{ pagination}}
        <br>
    </div>
    <div class="article-right-box">

        {{!-- 云标签 --}}
        <div class="ar-item-box tags">
            <div class="ar-item-title">
                云标签
            </div>
            {{! Tag Cloud }}
            {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                {{#foreach tags}}
                    <a href="/tag/{{slug}}" class="tag-item ar-tag-items">{{name}} ({{count.posts}})</a>
                {{/foreach}}
            {{/get}}
        </div>

        {{!-- 作者列表 --}}
        <div class="ar-item-box">
            <div class="ar-item-title">
                <span>作者们</span>
                <a href="https://jq.qq.com/?_wv=1027&k=5lq4CQD" target="_blank" class="become-user">加入他们</a>
            </div>
            <div  class="ar-users-list">
                {{#get "users" include="count.posts" order="count.posts desc"}}
                    {{#foreach users}}
                        <a href="/author/{{slug}}" class="ar-user-item">
                            {{#if profile_image}}
                                <img src="{{profile_image}}" alt="" class="head">
                            {{else}}
                                <img src="{{asset "images/default.png"}}" alt="" class="head">
                            {{/if}}
                            <div class="user-msg">
                                <div class="name-position">
                                    <span>{{name}}</span>
                                    <small>( {{count.posts}} 篇文章 ) </small>
                                </div>
                                <div class="bio color-gray">
                                    {{#if bio}}
                                        {{bio}}
                                    {{else}}
                                        bug太多，懒得填写了
                                    {{/if}}
                                </div>
                            </div>
                        </a>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>

    </div>
</div>

$('span').each(function(){
    var $this = $(this);
    $this.attr('title',$this.text());
})